@use '~/src/style/colors';

.pr-entry {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
}

.pr-date {
  color: colors.$light-text;
  flex: 1;
  display: flex;
}

.pr {
  display: flex;
  align-items: center;
}

.pr-unit {
  padding-left: 0.6rem;
}

.actions {
  padding-left: 2rem;
}

.action {
  color: colors.$danger;
  cursor: pointer;
}

nz-date-picker {
  flex: 1;
  max-width: 20rem;
  margin-right: 2rem;
}
