@use '~src/style/colors';

.header {
  display: flex;
  background-color: colors.$background-primary;
  border-bottom: 1px solid colors.$border;
}

.logo,
.logo img {
  height: 100%;
}

.logo img {
  padding: 1rem;
}

.right-slot {
  margin-left: auto;
}