::ng-deep app-card .card-content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.actions {
  display: flex;
  gap: 1.6rem;
}

::ng-deep .form-item-block {
  input,
  textarea {
    color: #a0a0ac;
  }
}

::ng-deep .personal-records-card .card-container {
  height: 100%;
}
