@use '~/src/style/colors';

::ng-deep app-card .card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.actions {
  display: flex;
  gap: 1.6rem;
}

::ng-deep .form-item-block {
  input,
  textarea {
    color: colors.$light-text;
  }
}

::ng-deep .personal-records-card .card-container {
  height: 100%;
}

.unit-of-measure-block {
  margin-bottom: 2.4rem;
}
