::ng-deep app-form-item-block:not(:last-child) .form-item-block {
  margin-bottom: 3.2rem;
}

.actions {
  button {
    margin-left: 1.6rem;
  }
}

::ng-deep .form-item-block {
  input,
  textarea {
    color: #a0a0ac;
  }
}

::ng-deep .personal-records-card .card-container {
  height: 100%;
}
