@use '~src/style/colors';

.card-container {
  background-color: colors.$background-primary;
  border: 1px solid colors.$border;
  padding: 2.4rem;
  border-radius: 2rem;
}

.card-header {
  margin-bottom: 2.8rem;
  display: flex;
  align-items: center;

  h2 {
    font-weight: 500;
  }

  p {
    color: colors.$light-text;
  }
}

.left {
  flex: 1;
}