<app-auth-container>
  <ng-template #userIcon>
    <fa-icon icon="user"></fa-icon>
  </ng-template>
  <ng-template #lockIcon>
    <fa-icon icon="lock"></fa-icon>
  </ng-template>
  <ng-template #passwordVisibilityIcon>
    <fa-icon
      class="password-visibility"
      [icon]="passwordVisible ? 'eye-slash' : 'eye'"
      (click)="passwordVisible = !passwordVisible"
    ></fa-icon>
  </ng-template>

  <div class="header">
    <h1>{{ translationNs + 'Header' | translate }}</h1>
    <p>{{ translationNs + 'SubHeader' | translate }}</p>
  </div>

  <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'Errors.InvalidEmail' | translate">
        <nz-input-group nzSize="large" [nzPrefix]="userIcon">
          <input
            nz-input
            formControlName="email"
            [placeholder]="translationNs + 'EmailText' | translate"
            autocomplete="off"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="'Errors.InvalidPassword' | translate">
        <nz-input-group
          nzSize="large"
          [nzPrefix]="lockIcon"
          [nzSuffix]="passwordVisibilityIcon"
        >
          <input
            nz-input
            [type]="passwordVisible ? 'text' : 'password'"
            formControlName="password"
            [placeholder]="translationNs + 'PasswordText' | translate"
            autocomplete="off"
            (ngModelChange)="validateConfirmPassword()"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="isSignup">
      <nz-form-control [nzErrorTip]="'Errors.InvalidConfirmPassword' | translate">
        <nz-input-group
          nzSize="large"
          [nzPrefix]="lockIcon"
          [nzSuffix]="passwordVisibilityIcon"
        >
          <input
            nz-input
            [type]="passwordVisible ? 'text' : 'password'"
            formControlName="confirmPassword"
            [placeholder]="translationNs + 'ConfirmPasswordText' | translate"
            autocomplete="off"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button
          nz-button
          nzBlock
          nzType="primary"
          nzSize="large"
          [nzLoading]="loading$ | async"
        >
          {{ translationNs + 'SubmitButton' | translate }}
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>

  <button nz-button nzBlock nzType="text" [disabled]="loading$ | async">
    <a [routerLink]="['/', secondaryButtonLink]">
      {{ translationNs + 'AlternateButton' | translate }}
    </a>
  </button>
</app-auth-container>
