<app-page-header
  [goBackTo]="'/' + parentUrl"
  [pageTitle]="ns + 'AddNew' | translate"
  [rightTemplate]="actions"
></app-page-header>

<app-card>
  <div nz-row nzGutter="32">
    <div nz-col nzXs="24" nzLg="12">
      <app-form-item-block label="Name">
        <input type="text" nz-input nzSize="large" />
      </app-form-item-block>

      <app-form-item-block label="Description">
        <textarea nz-input nzSize="large" rows="3"></textarea>
      </app-form-item-block>

      <app-form-item-block label="Tags">
        <app-tag>Chest</app-tag>
        <app-tag color="#ffa500">Abs</app-tag>
        <app-tag color="#7265e3">Biceps</app-tag>
      </app-form-item-block>
    </div>

    <div nz-col nzXs="24" nzLg="12">
      <app-form-item-block label="Personal records">
        <app-pr-entry
          *ngFor="let pr of personalRecords"
          [date]="pr.date"
          [value]="pr.value"
          [unit]="pr.unit"
          (deleted)="onPrDelete(pr)"
        ></app-pr-entry>
        <div class="add-pr">
          <button nz-button nzBlock nzType="text" (click)="onPrAdd()">
            <fa-icon icon="plus"></fa-icon>
          </button>
        </div>
      </app-form-item-block>
    </div>
  </div>
</app-card>

<ng-template #actions>
  <div class="actions">
    <button nz-button>Cancel</button>
    <button nz-button *ngIf="!isNew">Delete</button>
    <button nz-button nzType="primary">Save</button>
  </div>
</ng-template>
