<div class="pr-entry">
  <div class="pr-date">
    <nz-date-picker
      nzFormat="dd MMM yyyy"
      [nzAllowClear]="false"
      [ngModel]="pr.date"
      (ngModelChange)="onChange('date', $event)"
    ></nz-date-picker>
  </div>

  <div class="pr">
    <nz-input-number
      [nzMin]="0"
      [ngModel]="pr.value | formatUomValue: unitOfMeasure"
      (ngModelChange)="onChange('value', $event)"
      [nzPrecision]="2"
    ></nz-input-number>
    <p *ngIf="unitOfMeasure" class="pr-unit">
      {{ 'Exercises.UnitsOfMeasure.' + getUomSymbol(unitOfMeasure) | translate }}
    </p>
  </div>

  <div class="actions">
    <fa-icon icon="xmark" class="action" (click)="delete.emit(pr.id)"></fa-icon>
  </div>
</div>
