<app-page-header [pageTitle]="'Exercises.Title' | translate"></app-page-header>

<app-card
  *ngrxLet="exercises$ as exercises"
  [cardTitle]="'Exercises.SubTitle' | translate"
  [rightTemplate]="addExercise"
>
  <app-table
    [loading]="fetchLoading$ | ngrxPush"
    [allowSelection]="!!exercises?.length"
    [selected]="selected$ | ngrxPush"
    (selectedChange)="selected($event)"
    [columns]="(translatedColumnDefs$ | ngrxPush) || []"
    [dataSource]="exercises || []"
  >
    <!-- Custom cell templates for columns with matching dataKey -->
    <ng-template appTableCellFor="name" let-record="record" let-dataKey="dataKey">
      <a [routerLink]="record._id" class="link-to-exercise">
        <span>{{ record[dataKey] | translateEditableProp }}</span>
        <fa-icon icon="chevron-right"></fa-icon>
      </a>
    </ng-template>

    <ng-template appTableCellFor="description" let-record="record" let-dataKey="dataKey">
      <span>{{ record[dataKey] | translateEditableProp }}</span>
    </ng-template>

    <ng-template appTableCellFor="tags" let-record="record" let-dataKey="dataKey">
      <app-tags-list [tagIds]="record[dataKey]" [max]="3"></app-tags-list>
    </ng-template>
  </app-table>
</app-card>

<ng-template #addExercise>
  <div class="table-actions" *ngrxLet="deleteLoading$ as deleting">
    <div
      *ngIf="(selected$ | ngrxPush)?.length"
      nz-popconfirm
      [nzPopconfirmTrigger]="deleting ? null : 'click'"
      [nzPopconfirmTitle]="'Exercises.DeleteMultipleConfirm' | translate"
      [nzOkText]="'Common.Yes' | translate"
      (nzOnConfirm)="deleteSelected()"
      nzPopconfirmPlacement="bottom"
    >
      <button nz-button class="icon-button" [nzLoading]="deleting">
        <fa-icon *ngIf="!deleting" icon="trash-can"></fa-icon>
      </button>
    </div>
    <button
      nz-button
      nzType="primary"
      class="icon-button"
      nz-tooltip
      [nzTooltipTitle]="'Exercises.AddNew' | translate"
    >
      <a [routerLink]="newExerciseUrl">
        <fa-icon icon="plus"></fa-icon>
      </a>
    </button>
  </div>
</ng-template>
