<app-page-header [pageTitle]="'Exercises.Title' | translate"></app-page-header>

<app-card
  *ngrxLet="exercises$ as exercises"
  [cardTitle]="'Exercises.SubTitle' | translate"
  [rightTemplate]="exercisesActions"
>
  <app-table
    [loading]="fetchLoading$ | ngrxPush"
    [allowSelection]="!!exercises?.length"
    [selected]="selected$ | ngrxPush"
    (selectedChange)="selected($event)"
    [columns]="(translatedColumnDefs$ | ngrxPush) || []"
    [dataSource]="exercises || []"
  >
    <!-- Custom cell templates for columns with matching dataKey -->
    <ng-template appTableCellFor="name" let-record="record" let-dataKey="dataKey">
      <a [routerLink]="record._id" class="link-to-exercise">
        <span>{{ record[dataKey] | translateEditableProp }}</span>
        <fa-icon icon="chevron-right"></fa-icon>
      </a>
    </ng-template>

    <ng-template appTableCellFor="description" let-record="record" let-dataKey="dataKey">
      <span>{{ record[dataKey] | translateEditableProp }}</span>
    </ng-template>

    <ng-template appTableCellFor="tags" let-record="record" let-dataKey="dataKey">
      <app-tags-list [tagIds]="record[dataKey]" [max]="3"></app-tags-list>
    </ng-template>
  </app-table>
</app-card>

<ng-template #exercisesActions>
  <app-list-actions
    [newEntityText]="'Exercises.AddNew' | translate"
    [newEntityUrl]="newExerciseUrl"
    [showDeleteButton]="!!(selected$ | ngrxPush)?.length"
    [deleteLoading]="deleteLoading$ | ngrxPush"
    [deleteEntityConfirmText]="'Exercises.DeleteMultipleConfirm' | translate"
    (delete)="deleteSelected()"
  ></app-list-actions>
</ng-template>
