$primary: #2267DC;
$primary-light: #698fded9;
$secondary: #7265e3;
$alt-color1: #2bc8d8;
$alt-color2: #d1b24f;
$white: #dcdcdc;
$border: rgba($white, 0.1);
$light-text: #a0a0ac;
$highlight: rgba($light-text, 0.2);
$background-primary: #141622;
$background-secondary: #080C14;
$danger: #E63238;