$primary: #2267DC;
$primary-light: #698fded9;
$white: #f0f0f0;
$border: rgba($white, 0.1);
$light-text: #8a8a96;
$highlight: rgba($light-text, 0.2);
$background-primary: #141622;
$background-secondary: #080C14;