@import "~node_modules/ng-zorro-antd/ng-zorro-antd.dark.less";

@primary-color: #2267DC;
@border-radius-base: 1rem;

// Input
@input-color: #d2d2d2;
@input-bg: #151523;
@input-border-color: fade(#8a8a96, 20);

// Select
@select-background: @input-bg;
@select-dropdown-bg: @select-background;
@select-border-color: @input-border-color;
@select-item-selected-color: @primary-color;
//@select-item-selected-font-weight: 400;
@select-item-selected-bg: fade(@primary-color, 10);
@select-item-active-bg: @select-item-selected-bg;
