@use 'text';

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 400;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 700;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-Bold.woff') format('woff');
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Metropolis', sans-serif;
}

.ant-input-affix-wrapper {
  .ant-input-prefix {
    margin-right: 0.8rem;
  }
}

.ant-input-affix-wrapper .ant-input,
.ant-picker-input input {
  border-radius: 0;
}

.icon-button {
  padding: .4rem 1rem;
  font-size: 1.8rem;
  line-height: 1;
}
