<nz-layout class="layout-container">
  <nz-sider nzCollapsible class="layout-sidemenu" [nzWidth]="240">
    <div class="sider-logo">
      <a routerLink="/" [title]="appConfig.title"
        ><img [src]="appConfig.logoUrl" alt="Logo"
      /></a>
    </div>

    <ul nz-menu [nzInlineIndent]="14" nzTheme="dark" nzMode="inline">
      <li
        class="menu-item"
        *ngFor="let item of sideMenu || appConfig.menuItems"
        nz-menu-item
        nzMatchRouter
        nzMatchRouterExact
      >
        <a [routerLink]="['/' + item.linkUrl]" [title]="item.i18nTitle | translate">
          <div class="anticon">
            <fa-icon [icon]="item.icon"></fa-icon>
          </div>
          <span>{{ item.i18nTitle | translate }}</span>
        </a>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <app-header>
      <div rightSlot class="actions">
        <fa-icon class="action-icon" [icon]="['far', 'circle-question']"></fa-icon>
        <fa-icon class="action-icon" [icon]="['far', 'bell']"></fa-icon>
        <app-language-switcher></app-language-switcher>
        <app-user-dropdown></app-user-dropdown>
      </div>
    </app-header>

    <nz-content class="layout-content">
      <div class="inner-container">
        <ng-content></ng-content>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
