<nz-modal
  [nzVisible]="visible"
  [nzTitle]="'Tags.ChooseTags' | translate"
  [nzOkText]="'Common.Add' | translate"
  (nzOnCancel)="closeModal()"
  (nzOnOk)="handleOk()"
  [nzWidth]="620"
  [nzBodyStyle]="{ padding: '0' }"
  (nzAfterClose)="afterClose()"
  nzCentered
>
  <ng-container *nzModalContent>
    <ng-container *ngrxLet="query$ as q">
      <div class="input-container">
        <nz-input-group [nzSuffix]="clearIcon">
          <input
            nz-input
            [placeholder]="'Tags.SearchTag' | translate"
            autocomplete="off"
            [ngModel]="q"
            (ngModelChange)="changeQueryDebounced($event)"
          />
        </nz-input-group>
      </div>

      <div class="tags-container">
        <div
          *ngFor="
            let tagGroup of (translatedTagGroups$ | ngrxPush) ?? []
              | filterTagGroups: q:this.tagsToExclude;
            let i = index
          "
        >
          <h4 class="tag-category">{{ tagGroup.category }}</h4>
          <div class="group-tags-container">
            <app-tag
              *ngFor="let tag of tagGroup.tags"
              [color]="tagGroup.color"
              (click)="toggleTagSelection(tag._id)"
              [inverted]="selected.includes(tag._id)"
            >
              {{ tag.name }}
            </app-tag>
          </div>
        </div>
      </div>

      <ng-template #clearIcon>
        <fa-icon
          *ngIf="q"
          class="clear-query-icon"
          icon="circle-xmark"
          (click)="changeQuery('')"
        ></fa-icon>
      </ng-template>
    </ng-container>
  </ng-container>
</nz-modal>
