@use '~/src/style/colors';
@use '~/src/style/extensions';
@use '~/src/style/text';

.set-info {
  @extend %flex-center-column;
  
  p {
    min-width: 6rem;
    text-align: center;
    line-height: 1;
  }
}

.number {
  @extend %flex-center-row;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 1px solid colors.$primary;
  color: colors.$primary;
  font-size: text.$small-size;
  line-height: 1;
}

.bottom-space {
  margin-bottom: 0.6rem;
}

.intensity {
  display: inline-block;
  color: colors.$light-text;
}

