<div
  class="tags-list-container"
  *ngIf="{
    tags: (populatedTags$ | ngrxPush) ?? [],
    remainingTags: (remainingTags$ | ngrxPush) ?? 0
  } as data"
>
  <ng-container *ngIf="data.tags.length > 0">
    <app-tag *ngFor="let tag of data.tags">
      <span>{{ tag.name | translateEditableProp }}</span>
      <span *ngIf="interactive" class="remove-button" (click)="delete.emit(tag.id)">
        <fa-icon icon="xmark"></fa-icon>
      </span>
    </app-tag>

    <app-tag *ngIf="data.remainingTags > 0">
      <span>+{{ data.remainingTags }}</span>
    </app-tag>
  </ng-container>

  <button
    *ngIf="interactive"
    nz-button
    nzType="text"
    [nzBlock]="data.tags.length === 0"
    class="add-button"
    (click)="add.emit()"
  >
    <fa-icon icon="plus"></fa-icon>
  </button>
</div>
