.tags-list-container {
  margin-top: -0.8rem; // Hack to have vertical space between tags when they wrap
}

.add-button,
::ng-deep app-tag .tag {
  margin-top: 0.8rem;
}

app-tag:not(:last-child) {
  margin-right: 1rem;
}

.remove-button {
  margin-left: 1rem;
  cursor: pointer;
}
