@use '~src/style/colors';

.tag {
  padding: .4rem 1.4rem;
  border-radius: .4rem;
}

.default-color {
  background-color: rgba(colors.$primary, 0.1);
  color: colors.$primary;
}

.default-color-inverted {
  background-color: colors.$primary;
  color: '#fafafa';
}
